<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CPApplicationDelegateClass</key>
	<string>AppController</string>
	<key>CPBundleExecutable</key>
	<string>Client.sj</string>
	<key>CPBundleIdentifier</key>
	<string>com.perfect.Client</string>
	<key>CPBundleInfoDictionaryVersion</key>
	<real>6.0</real>
	<key>CPBundleName</key>
	<string>Client</string>
	<key>CPBundlePackageType</key>
	<string>280N</string>
	<key>CPBundlePlatforms</key>
	<array>
		<string>objj</string>
	</array>
	<key>CPBundleReplacedFiles</key>
	<array>
		<string>_CPBorderlessBridgeWindowView.j</string>
		<string>_CPBorderlessWindowView.j</string>
		<string>_CPCibClassSwapper.j</string>
		<string>_CPCibCustomObject.j</string>
		<string>_CPCibCustomResource.j</string>
		<string>_CPCibCustomView.j</string>
		<string>_CPCibKeyedUnarchiver.j</string>
		<string>_CPCibObjectData.j</string>
		<string>_CPCibProxyObject.j</string>
		<string>_CPCibWindowTemplate.j</string>
		<string>_CPCornerView.j</string>
		<string>_CPDisplayServer.j</string>
		<string>_CPHUDWindowView.j</string>
		<string>_CPImageAndTextView.j</string>
		<string>_CPStandardWindowView.j</string>
		<string>_CPWindowView.j</string>
		<string>AppKit.j</string>
		<string>CAAnimation.j</string>
		<string>CABackingStore.j</string>
		<string>CAFlashLayer.j</string>
		<string>CALayer.j</string>
		<string>CAMediaTimingFunction.j</string>
		<string>CGAffineTransform.j</string>
		<string>CGColor.j</string>
		<string>CGColorSpace.j</string>
		<string>CGContext.j</string>
		<string>CGGeometry.j</string>
		<string>CGGradient.j</string>
		<string>CGPath.j</string>
		<string>CPAccordionView.j</string>
		<string>CPAlert.j</string>
		<string>CPAnimation.j</string>
		<string>CPApplication.j</string>
		<string>CPBezierPath.j</string>
		<string>CPBox.j</string>
		<string>CPButton.j</string>
		<string>CPButtonBar.j</string>
		<string>CPCheckBox.j</string>
		<string>CPCib.j</string>
		<string>CPCibConnector.j</string>
		<string>CPCibControlConnector.j</string>
		<string>CPCibLoading.j</string>
		<string>CPCibOutletConnector.j</string>
		<string>CPClipView.j</string>
		<string>CPCollectionView.j</string>
		<string>CPCollectionViewItem.j</string>
		<string>CPColor.j</string>
		<string>CPColorPanel.j</string>
		<string>CPColorPicker.j</string>
		<string>CPColorWell.j</string>
		<string>CPCompatibility.j</string>
		<string>CPControl.j</string>
		<string>CPCookie.j</string>
		<string>CPDocument.j</string>
		<string>CPDocumentController.j</string>
		<string>CPDOMWindowLayer.j</string>
		<string>CPDragServer.j</string>
		<string>CPEvent.j</string>
		<string>CPFlashMovie.j</string>
		<string>CPFlashView.j</string>
		<string>CPFont.j</string>
		<string>CPFontManager.j</string>
		<string>CPGeometry.j</string>
		<string>CPGraphicsContext.j</string>
		<string>CPImage.j</string>
		<string>CPImageView.j</string>
		<string>CPMenu.j</string>
		<string>CPMenuItem.j</string>
		<string>CPOpenPanel.j</string>
		<string>CPOutlineView.j</string>
		<string>CPPanel.j</string>
		<string>CPPasteboard.j</string>
		<string>CPPlatform.j</string>
		<string>CPPlatformString.j</string>
		<string>CPPlatformWindow+DOM.j</string>
		<string>CPPlatformWindow.j</string>
		<string>CPPopUpButton.j</string>
		<string>CPProgressIndicator.j</string>
		<string>CPRadio.j</string>
		<string>CPResponder.j</string>
		<string>CPScreen.j</string>
		<string>CPScroller.j</string>
		<string>CPScrollView.j</string>
		<string>CPSearchField.j</string>
		<string>CPSecureTextField.j</string>
		<string>CPSegmentedControl.j</string>
		<string>CPShadow.j</string>
		<string>CPShadowView.j</string>
		<string>CPSlider.j</string>
		<string>CPSliderColorPicker.j</string>
		<string>CPSplitView.j</string>
		<string>CPStringDrawing.j</string>
		<string>CPTableColumn.j</string>
		<string>CPTableHeaderView.j</string>
		<string>CPTableView.j</string>
		<string>CPTabView.j</string>
		<string>CPTabViewItem.j</string>
		<string>CPTextField.j</string>
		<string>CPTheme.j</string>
		<string>CPThemeBlend.j</string>
		<string>CPToolbar.j</string>
		<string>CPToolbarItem.j</string>
		<string>CPTreeNode.j</string>
		<string>CPView.j</string>
		<string>CPViewController.j</string>
		<string>CPWebView.j</string>
		<string>CPWindow.j</string>
		<string>CPWindowController.j</string>
		<string>OLDCPTableColumn.j</string>
		<string>OLDCPTableView.j</string>
		<string>BKShowcaseController.j</string>
		<string>BKThemeDescriptor.j</string>
		<string>BKThemedObjectTemplate.j</string>
		<string>BKThemeTemplate.j</string>
		<string>BlendKit.j</string>
		<string>CPArray+KVO.j</string>
		<string>CPArray.j</string>
		<string>CPAttributedString.j</string>
		<string>CPBundle.j</string>
		<string>CPCoder.j</string>
		<string>CPCountedSet.j</string>
		<string>CPData.j</string>
		<string>CPDate.j</string>
		<string>CPDictionary.j</string>
		<string>CPEnumerator.j</string>
		<string>CPException.j</string>
		<string>CPIndexSet.j</string>
		<string>CPInvocation.j</string>
		<string>CPJSONPConnection.j</string>
		<string>CPKeyedArchiver.j</string>
		<string>CPKeyedUnarchiver.j</string>
		<string>CPKeyValueCoding.j</string>
		<string>CPKeyValueObserving.j</string>
		<string>CPLog.j</string>
		<string>CPNotification.j</string>
		<string>CPNotificationCenter.j</string>
		<string>CPNull.j</string>
		<string>CPNumber.j</string>
		<string>CPObject.j</string>
		<string>CPObjJRuntime.j</string>
		<string>CPPropertyListSerialization.j</string>
		<string>CPRange.j</string>
		<string>CPRunLoop.j</string>
		<string>CPSet.j</string>
		<string>CPSortDescriptor.j</string>
		<string>CPString.j</string>
		<string>CPTimer.j</string>
		<string>CPUndoManager.j</string>
		<string>CPURL.j</string>
		<string>CPURLConnection.j</string>
		<string>CPURLRequest.j</string>
		<string>CPURLResponse.j</string>
		<string>CPUserSessionManager.j</string>
		<string>CPValue.j</string>
		<string>CPWebDAVManager.j</string>
		<string>Foundation.j</string>
		<string>AppController.j</string>
		<string>CPActiveRecord.j</string>
		<string>CPURLRequest+CPActiveRecordAdditions.j</string>
		<string>main.j</string>
		<string>Person.j</string>
	</array>
	<key>CPBundleVersion</key>
	<string>1.0</string>
	<key>CPPrincipalClass</key>
	<string>CPApplication</string>
</dict>
</plist>
